@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.d {
  border: 1px solid red;
}

.bg-grad {
  background: radial-gradient(
      circle at 35% 90%,
      rgba(120, 255, 172, 0.5),
      transparent 400px
    ),
    radial-gradient(
      circle at 70% 50%,
      rgba(255, 154, 100, 0.5),
      transparent 400px
    );
}

.watch-shadow {
  --tw-shadow-color: var(--shadow-colored);
  --tw-shadow: var(--tw-shadow-colored);
}

.per {
  perspective: 500px;
  transform-style: preserve-3d;
}
.carousel-card {
  position: absolute;
  width: 100%;
  transform: rotateY(calc(var(--offset) * 45deg))
    scaleY(calc(1 + var(--abs-offset) * -0.4))
    translateZ(calc(var(--abs-offset) * -30rem))
    translateX(calc(var(--direction) * -5rem));
  filter: blur(calc(var(--abs-offset) * 0.5rem));
  transition: all 0.3s ease-out;
}
.animate-blob-1{
  animation: blob1 15s infinite;
}
.animate-blob-2{
  animation: blob2 15s 1s infinite;
}

@keyframes blob1 {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(0px, -200px) scale(1);
  }
  66% {
    transform: translate(150px, -200px) scale(1);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}
@keyframes blob2 {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(0px, 150px) scale(1);
  }
  66% {
    transform: translate(-150px, 150px) scale(1);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

@layer utilities{
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
  .animation-delay-6000 {
    animation-delay: 6s;
  }
}
