@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.d {
  border: 1px solid red;
}

.radi {
  background: radial-gradient(
    closest-side at center,
    rgba(37, 37, 37, 0.914),
    rgb(29, 29, 29) 90%
  );
}

.watch-shadow {
  --tw-shadow-color: var(--shadow-colored);
  --tw-shadow: var(--tw-shadow-colored);
}

.per {
  perspective: 500px;
  transform-style: preserve-3d;
}
.carousel-card {
  position: absolute;
  width: 100%;
  transform: rotateY(calc(var(--offset) * 45deg))
    scaleY(calc(1 + var(--abs-offset) * -0.4))
    translateZ(calc(var(--abs-offset) * -30rem))
    translateX(calc(var(--direction) * -5rem));
  filter: blur(calc(var(--abs-offset) * 0.5rem));
  transition: all 0.3s ease-out;
}
